[package]
name = "random-enclave-demo"
version = "0.0.1"
authors = ["SCRT Labs <info@scrtlabs.com>"]
edition = "2018"
description = "An enclave not doing much"

[lib]
name = "secret_enclave"
crate-type = ["staticlib"]

[features]
default = ["SGX_MODE_SW"]
SGX_MODE_SW = []
SGX_MODE_HW = []
production = ["SGX_MODE_HW"]

# This annotation is here to trick the IDE into showing us type information about this crate.
# We always compile to the "sgx" target, so this will always be false.
# when compiling to the "sgx" target, we pull this from the target root with an "extern crate" directive
[target.'cfg(not(target_env = "sgx"))'.dependencies]
sgx_tstd = { rev = "d2d339cbb005f676bb700059bd51dc689c025f6b", git = "https://github.com/apache/teaclave-sgx-sdk.git", features = [] }
sgx_types = { rev = "d2d339cbb005f676bb700059bd51dc689c025f6b", git = "https://github.com/apache/teaclave-sgx-sdk.git" }

[dependencies]
serde = { git = "https://github.com/mesalock-linux/serde-sgx", features = [
  "derive"
] }
serde_json = { git = "https://github.com/mesalock-linux/serde-json-sgx" }
ctor = "0.1.13"
derive_more = "0.99"

# for attestation
chrono = { git = "https://github.com/mesalock-linux/chrono-sgx" }
num-bigint = { git = "https://github.com/mesalock-linux/num-bigint-sgx" }
httparse = { version = "1.3", default-features = false }
itertools = { version = "0.8", default-features = false, features = [] }
bit-vec = { version = "0.6", default-features = false }
lazy_static = "1.4"
hex = "0.4.2"
log = "0.4.17"
simple_logger = { version = "2.3.0", default-features = false, features = ["stderr"] }

[patch.'https://github.com/apache/teaclave-sgx-sdk.git']
sgx_align_struct_attribute = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_align_struct_attribute" }
sgx_alloc = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_alloc" }
sgx_backtrace = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_backtrace" }
sgx_backtrace_sys = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_backtrace_sys" }
sgx_build_helper = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_build_helper" }
sgx_cov = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_cov" }
sgx_crypto_helper = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_crypto_helper" }
sgx_demangle = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_demangle" }
sgx_libc = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_libc" }
sgx_no_tstd = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_no_tstd" }
sgx_rand = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_rand" }
sgx_rand_derive = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_rand_derive" }
sgx_serialize = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_serialize" }
sgx_serialize_derive = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_serialize_derive" }
sgx_serialize_derive_internals = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_serialize_derive_internals" }
sgx_tcrypto = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_tcrypto" }
sgx_tcrypto_helper = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_tcrypto_helper" }
sgx_tdh = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_tdh" }
sgx_tkey_exchange = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_tkey_exchange" }
sgx_tprotected_fs = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_tprotected_fs" }
sgx_trts = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_trts" }
sgx_tse = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_tse" }
sgx_tseal = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_tseal" }
sgx_tstd = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_tstd" }
sgx_tunittest = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_tunittest" }
sgx_types = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_types" }
#sgx_ucrypto = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_ucrypto" }
sgx_unwind = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_unwind" }
#sgx_urts = { path = "../../deps/incubator-teaclave-sgx-sdk/sgx_urts" }
